.zoho-crm-card{
    width: 430px;
    height: 290px ;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    background:-webkit-linear-gradient(to top,rgb(182, 234, 236),#D3E3FC);
    background: linear-gradient(to bottom,rgb(182, 234, 236),#D3E3FC);
    
}
.amazon-card{
    width: 430px;
    height: 290px ;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    background:-webkit-linear-gradient(to top,rgb(182, 234, 236),#D3E3FC);
    background: linear-gradient(to bottom,rgb(182, 234, 236),#D3E3FC);
}

.clickhere-item{
    color: #fff;
    width: 200px;
    background: linear-gradient(to right, #15DB95, #52c59d);
    border: 0;
    border-radius: 5px;
    height: 40px; 
    width: 140px;  
    margin-top: 0px;
    font-family: 'Ubuntu', sans-serif;    
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(71, 66, 66, 0.04);  
}
