<mat-card class="zoho-crm-card">
    <mat-card-header>
         Zoho CRM 
    </mat-card-header>
    <mat-card-content>
      <div class="zoho-logo">
        <img mat-card-image class="d-block img-fluid" src="../assets/zoho.png">
      </div>
        <div class="content">
          Integrate with Zoho ZRM
        </div>       
      
      <div>
      <button mat-raised-button (click)=onClick() class="clickhere-item" style="float: right;">CLICK HERE</button>
      </div>
    </mat-card-content>
  </mat-card>
