<nb-card class="zoho-crm-card">
  <nb-card-header class="entry-title hd1" style="font-size: 18px;">Zoho CRM</nb-card-header>
  <nb-card-body>
    <div class="zoho-logo">
      <img mat-card-image class="d-block img-fluid" src="../assets/zoho_crm.png" alt="work">
    </div>
      
    <div class="content">
      Integrate with Zoho ZRM
    </div>  

    <div>
      <button  (click)=onClick() class="btn btn-block btn-hero-success" style="float: right;">CLICK HERE</button>
    </div>

  </nb-card-body>
</nb-card>


<!--<mat-card class="zoho-crm-card">
    <mat-card-header>
         Zoho CRM 
    </mat-card-header>
    <mat-card-content>
      <div class="zoho-logo">
        <img mat-card-image class="d-block img-fluid" src="../assets/zoho_crm.png">
      </div>
        <div class="content">
          Integrate with Zoho ZRM
        </div>       
      
      <div>
      <button mat-raised-button (click)=onClick() class="clickhere-item" style="float: right;">CLICK HERE</button>
      </div>
    </mat-card-content>
  </mat-card>
-->