<div class="box">

    <h2>Ellie Zoho</h2>
        <h1>Ellie Zoho Extension</h1>
        <div class="rectangle"></div>
        <h1 class="forgotpwd-text">Forgot Password!</h1>

        <form>

            <div class="username-field">
                <input type="text" id="username" placeholder="" name="email" required="">
                <label>Username</label>
            </div>                
                
            <div class="res">
                <button mat-raised-button class="btn btn-block btn-hero-success" (click)="resetPassword()">Next</button>
            </div> 
    
        </form>


</div>
