.information-card{
    
    border-radius: 8px;
    /*box-shadow: 10px 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);*/
    -webkit-box-shadow: 0 0 8px rgb(105, 103, 103);
    box-shadow: 0 0 8px rgb(105, 103, 103);
    height: 200px;
   
    /*background:-webkit-linear-gradient(to top,rgb(182, 234, 236),#D3E3FC);
    background: linear-gradient(to bottom,rgb(182, 234, 236),#D3E3FC);   */
    background: #EEE2DC;
       
}

.content{
    color: black;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 17px;     
    font-family:  'Ubuntu', sans-serif;
    font-style: italic;
}

.btn{
    color: black;
    width: 80px;
    background: #EDC7B7;
    border: #000 !important;
    border-radius: 5px;
    height: 40px;      
    margin-top: 6px;
    font-family: 'Ubuntu', sans-serif;    
    font-size: 13px;
    box-shadow: 0 0 4px #64331a;
    float: right;
}
.close-btn{
    margin-top: 80px;
}
