
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../styles/themes';

/*.user-login{
    background: #fff;
    width:100%;
  padding:50px;
}*/

h2{
  color: black;
  font-family:  sans-serif;
  
}


mat-card {
  background:-webkit-linear-gradient(to bottom,#e5e7ee,#D1E8E2);
  background: #e5e7ee;
    max-width: 400px; 
    padding-top: 50px;  
    padding-bottom: 100px; 
    margin: 3em auto;
    text-align: center;
    height: 530px;
    font-family:  Poppins-Regular;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

  }
   
  mat-error{
    color:red;
    font-size: 12px;
    font-family:  'Ubuntu', sans-serif;
  }

  .myGroup{
    padding-bottom:20px;
    padding-left: 30px;
    padding-right:30px;
  }
  
  mat-form-field {    
    background:#edf1f7;
    display: block; 
    padding:1px;  border:none; 
    border-radius: 8px;
    box-shadow: 0 0 20px 1px rgba(32, 28, 28, 0.349);    
    width: 100%;
      }
    input{
      padding-left: 25px;
      border: none;
    }
    
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.8em 2px !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {color:#edf1f7;}
::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }

.login-button{  
    color: #fff;
    width: 100%;
    border-radius: 5px;
    background: #40dc7e;
    border: none;
    padding:15px;
    font-family: 'Ubuntu', sans-serif;    
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
.login{
  padding-left: 30px;
  padding-right:30px;
}

 .forgot-password{
   float: left;
  padding-left: 30px;    
  color: #40dc7e;
  font-size: 14px;
 }
 .signup-item{
   color: #40dc7e;
 }


mat-form-field i{   
    position: absolute;
}

