<div class="box">
    
        <h2>Ellie Zoho</h2>
        <h1>Ellie Zoho Extension</h1>
        <div class="rectangle"></div>
        <h1 class="login-text">Login</h1>

        <form #loginUser="ngForm" (ngSubmit)="onSubmit()" style="margin-top: 210px;">

        <div class="input-field">
            <input type="text" id="username" placeholder="" [(ngModel)]="username" name="firstName" required="">
            <label>Username</label>
        </div>

        <div>
            <input type="password" id="password" placeholder="" [(ngModel)]="password" name="password" required="">
            <label>Password</label>
        </div>

        <a style="color: white;" class="forgot-password">Forgot Password?</a>

        <div class="login">
            <button (click)="checkUserLogin()" mat-raised-button class="btn btn-block">Login</button>
        </div> 

    </form>

    <a style="color: white;" routerLink="/auth/signup" class="create-account">Create New Account </a>

</div>