@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';



@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}
nb-layout-header{
 
    background: white;     
}

::ng-deep .nb-theme-default .content .columns
{
  background-image: none !important;
 }

 @include nb-install-component() {
  .menu-sidebar ::ng-deep  .main-container.main-container-fixed {
   height: 638px;
   width: 170px;   
 }
 }
 
 @include nb-install-component(){
   .expanded{
     width: 170px;
   }
 }

 ::ng-deep .nb-theme-default nb-sidebar.expanded nb-menu .menu-items > .menu-item a{
   margin-top: 15px;
   margin-bottom: 15px;
 }

 ::ng-deep .nb-theme-default nb-sidebar.expanded nb-menu .menu-items > .menu-item a nb-icon{
  
  transform: translate3d(2.7rem, 0, 0);     
  margin-top: -20px;
  animation-name: pulse-light; 
  text-align: center;
}

::ng-deep .nb-theme-default nb-sidebar.expanded nb-menu .menu-items > .menu-item a .menu-title 
{
 transform: translate3d(-0.9rem, 1rem, 0);
  font-size: 12px;
}


::ng-deep  .nb-theme-default nb-sidebar.expanded nb-menu .menu-item a .menu-title.ng-tns-c118-0{
  transform: translate3d(-1.7rem, 1rem, 0); 
  font-size: 12px;
  text-align: center;
}

::ng-deep  .nb-theme-default nb-sidebar.expanded nb-menu .menu-item a .menu-title.ng-tns-c118-1{
  transform: translate3d(-1.7rem, 1rem, 0); 
  font-size: 12px;
  text-align: center;
}

::ng-deep  .nb-theme-default nb-sidebar.expanded nb-menu .menu-item a .menu-title.ng-tns-c118-2{
  transform: translate3d(-1.7rem, 1rem, 0); 
  font-size: 12px;
  text-align: center;
}


.menu-sidebar{  
  margin-left: 10px ; 
  margin-bottom: 10px;
  margin-top: 10px ;
  margin-right: 5px;
  background:white;
  border-radius: 8px;  
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);  
  transition: 0.5s ease;
}

.main-content{
  margin-left: 5px ; 
  margin-bottom: 10px;
  margin-top: 10px ;
  margin-right: 10px;    
  border-radius: 8px;  
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  background-image: none !important;
  background:rgba(255, 255, 255, 0.7);
}

::ng-deep .scrollable{
  margin-top: -20px;
}