<nb-card>
    <nb-card-header style="text-align: center;">Zoho CRM Integration
        <mat-icon color="accent">build</mat-icon> 
    </nb-card-header>
    <nb-card-body>
        <form>
                <fieldset class="form-group is-focused">
                    <label for="usernameControl" class="bmd-label-floating" floatLabel="always">Username</label>
                    <input type="text" style="color:black;" class="form-control" placeholder="Enter User Name" required="" id="usernameControl" name="username" autofocus="">
                </fieldset>
                <fieldset class="form-group is-focused">
                    <label for="usernameControl" class="bmd-label-floating">Client ID</label>
                    <input type="text" class="form-control" required=""placeholder="Enter your Client ID" id="usernameControl" name="username" autofocus="">
                </fieldset>
                <fieldset class="form-group is-focused">
                    <label for="usernameControl" class="bmd-label-floating">Client Secret</label>
                    <input type="text" class="form-control" placeholder="Enter your Client Secret" required="" id="usernameControl" name="username" autofocus="">
                </fieldset>
                <fieldset class="form-group is-focused">
                    <label for="usernameControl" class="bmd-label-floating">Website URL</label>
                    <input type="text" class="form-control" required="" placeholder="http://websitename.com/" id="usernameControl" name="username" autofocus="">
                </fieldset>
                <fieldset class="form-group is-focused" id="input-icons">
                    <label for="usernameControl" class="bmd-label-floating">Grant Token</label>
                    <i class="fa fa-lock icon"></i> 
                    <input type="text" class="form-control" id="input-field" required=""  placeholder="Instructions to generate grant token" id="usernameControl" name="username" autofocus="">
                </fieldset>
                  
        </form>
        <!--<div>
            <form id="client-form" #someForm="ngForm" class="example-form">
                <mat-form-field class="example-full-width">
                    User Name<input matInput placeholder="User Name" value="username" ngModel name="username">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  Client ID<input matInput placeholder="Client ID" value="client-id" ngModel name="client-id">
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  Client Secret<input matInput placeholder="Client Secret" value="client-secret" ngModel name="client-secret">
                </mat-form-field>
              
                <mat-form-field class="example-full-width" color="accent">
                 Website URL <input matInput placeholder="Website URL" value="url" ngModel name="url">
                </mat-form-field>

                <mat-form-field class="example-full-width"> 
                    Grant Token<input matInput placeholder="Grant Token" value="grant-token" ngModel name="grant-token">
                </mat-form-field>

            </form>           
        </div>-->

        <!--<div class="crm-container">
            <div class="container-item">
                <span style="font-family: 'Ubuntu', sans-serif; font-size: 15px;">Client ID</span>
                 <input type="text" class="text-item" nbInput  placeholder="Enter your Client id">
            </div>
            
            <div class="container-item">
                Client Secret <input type="text" class="text-item" nbInput placeholder="Enter your Client secret">
            </div>
            
            <div class="container-item">
                URL of the website <input type="text" class="text-item" nbInput placeholder="http://websitename.com/">
            </div>

            <div class="container-item">
                Grant Token <input type="text" class="text-item" nbInput placeholder="instruction on how to generate grant token">
            </div>               
        </div>-->
    </nb-card-body>
    <nb-card-footer>
      
            <button nbButton (click)="close()" class='btn'>CANCEL</button>
        
        
            <button nbButton (click)="close()" class='btn'>SAVE</button>
        
    </nb-card-footer>
</nb-card>
