<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="navigation">
      <i class="nb-menu"></i>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">ZoE.</a>
  </div> 
</div>

<nb-actions>
  <nb-action>
    <nb-user size="medium" [nbContextMenu]="userMenu" [name]="firstname" [title] ="'Customer ID-' + id" style="cursor:pointer"></nb-user> 
  </nb-action>
</nb-actions>

<!--
<div class="header-container">
  <a (click)="signOut()" ><mat-icon>supervised_user_circle</mat-icon></a>
</div>
-->