<nb-card class="information-card">
    <nb-card-header class="entry-title hd1" style="font-size: 18px;">Quickbooks Integration Guidelines</nb-card-header>
    <nb-card-body style="margin-top: 15px;">
            <ul>
                <li>Goto <a href="" style="color: #44377c;"> https://accounts.quickbboks.com/fyguh</a>
                    and add a Client id by filling necessary details.</li>
                <li>sentence 2.</li>
                <li>sentence 3</li>
                <li>sentence 4.</li>
                <li>sentence 5.</li>
                <li>sentence 6.</li>
                <li>sentence 7.</li>
            </ul>      
    </nb-card-body>
    <nb-card-footer style="height:54px">        
        <div class="close-btn">
            <button mat-raised-button  (click)="close()" class='btn'>CLOSE</button>
        </div>  
    </nb-card-footer>
    
</nb-card>

