
<div class="box">

    <h2>Ellie Zoho</h2>
        <h1>Ellie Zoho Extension</h1>
        <div class="rectangle"></div>
        <h1 class="resetpwd-text">Reset Password</h1>

        <form>

            <div class="username-field">
                <input type="text" id="username" placeholder="" name="email" required="">
                <label>Password</label>
            </div>    

            <div>
                <input type="text" id="username" placeholder="" name="email" required="">
                <label>Confirm password</label>
            </div>  
                
            <div class="res">
                <button  mat-raised-button class="btn btn-block btn-hero-success" (click)="confirmPassword()">Next</button>
            </div> 
    
        </form>

</div>
