
 ::ng-deep .nb-theme-default .columns
 {
   background-image: url("../../../../../assets/frame.png") !important;  
  
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }
 
 .box{
    position: absolute;
    left: 64.93%;
    right: 3.95%;
    top: 20.44%;
    bottom: 20.18%;
    
    background: linear-gradient(180deg, #514089 0%, #3291BB 100%);
    border-radius: 71px;
    height: 460px;
    width: 450px;
  }
  
  .box h2{
    position: absolute;
    left: 13.9%;
    right: 13.98%;
    top: 9.91%;
    bottom: 70.18%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
   }
  
   .box h1{
    position: absolute;
    left: 10.34%;
    right: 10.54%;
    top: 15.82%;
    bottom: 68.23%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
   }
   
   .rectangle{
    position: absolute;
    left: 14%;
    right: 7.69%;
    top: 23%;
    bottom: 67.19%;   
    transform: matrix(1, 0, 0, -1, 0, 0);
    width:327px;
    height:1px;  
    background: #EBE9ED;
   }

   form{
    padding-top: 60px;
   }

   .box .resetpwd-text{    
    position: absolute;
    left: 16.9%;
    right: 17.57%;
    top: 25%;
    bottom: 61.98%;
  
    font-style: normal; 
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-transform: none;
    
    color: #FFFFFF;
  }
  
  .username-field{
      margin-top: 130px;
  }

 
  .box input
 {    
   margin-left: 65px;
   right: 68px;
   bottom: 66.55%;
   background: #FFFFFF;
   opacity: 0.29;
   border-radius: 18px;
   border: none;
   height: 32px;
   width: 288px;
   outline: none;
 
   /*input*/
 
   color: black;
   font-family: sans-serif, 'Ubuntu';
   font-size: 14px;
   font-weight: bold;
 }
 
 .box form div{
     position: relative;
     padding: 15px;
  }
  .box form div label{
     position: absolute;
     margin-left: -275px;
     margin-top: 7px;
     color: white;
     transition: .5s ease;
     pointer-events: none;    
 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    
    color: #FFFFFF;   
    opacity: 0.6;
 }
 
 input:focus ~ label,
 input:valid ~ label {
   transform: translate3d(-0.42rem, -0.42rem, 0) scale3d(0.92, 0.92, 1);
   left: 380px !important;
   top: -6.5px !important;    
   font-size: 12px;
   font-weight: bold;
   border: none !important;
 }
 
 a{
   position: absolute;
   left: 60.5%;
   right: 8.93%;
   top: 64.5%;
   bottom: 40.36%;
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 11px;
   line-height: 12px;
   
   color: #FFFFFF;  
   opacity: 0.6;
  }
 
 
 .btn{
   position: absolute;
   left: 138px;
   right: 126px;
   top: 69px;
   bottom: 65px;
   
   height: 38px;
   width: 173px;
   background: #FFFFFF;
   border-radius: 18px;
   border: none;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   /* identical to box height */  
   color: #514189;
   text-transform: none;
 }
 
 .btn:focus{
   outline: none;
 }