
    <div class="box">
        <h2> Sign Up</h2>
        <form>
            <div class="form-row">
                <div class="col-md-6">
                    <input type="text" id="firstName" placeholder=""  name="firstName" required="">
                    <label>First Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="lastName" placeholder=""  name="lastName" required="">
                    <label>Last Name</label>
                </div>                
            </div>
    
            <div>
                <input type="email" name="" required="">
                <label>Email</label>
            </div>
    
            <div>
                <input type="text" name="" required="">
                <label>Address</label>
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <input type="text" id="phone" placeholder=""  name="phone" required="">
                    <label>Phone</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="countryCode" placeholder=""  name="countryCode" required="">
                    <label>Country Code</label>
                </div>                
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <input type="password" id="password" placeholder=""  name="password" required="">
                    <label>Password</label>
                </div>
                <div class="col-md-6">
                    <input type="password" id="confirmpassword" placeholder=""  name="confirmpassword" required="">
                    <label>Confirm Password</label>
                </div>                
            </div>
    
            <input type="submit" name="" value="Sign Up">
    
        </form>

        <span>Already have an account? </span>                                                
        <a href="/auth/signin" class="signup-item" style="color: #40dc7e;;">Sign in </a> 
    
    </div>

