 <div class="box">
        <h2>Ellie Zoho</h2>
        <h1>Ellie Zoho Extension</h1>
        <div class="rectangle"></div>
        <h1 class="signup-text">Sign up</h1>
        <form style="padding-top: 60px;">

        <div class="input-field">
            <input type="text" id="username" placeholder=""  name="firstName" required="">
            <label>Username</label>
        </div>

        <div>
            <input  type="email" name="" required="">
            <label>E-mail Id</label>
        </div>

        <div>
            <input type="text" id="phone" placeholder=""  name="phone" required="">
            <label>Phone number</label>
        </div>

        <div>
            <input type="password" id="password" placeholder=""  name="password" required="">
            <label>Password</label>
        </div>

        <div>
            <input type="password" id="repeatPassword" placeholder=""   name="repeatPassword" required="">
            <label>Repeat password</label>
        </div>  
   
        <div class="signup">
            <button mat-raised-button class="signup-button">Sign up</button>
        </div> 
    
        </form>

        <a style="color: white;" href="/auth/signin" class="signin">Already have an account? </a>   
    
    </div>

