

<nb-card class="zohoApiIntegration">

    <nb-card-header>
        <div>
            <h4 translate>Zoho Integration
                <button matTooltip="Info about the action" matTooltipPosition="below"  matTooltipClass="custom-tooltip" class="btn btn-hero-info btn-small mx-2" (click)=onClick()>
                    <i _ngcontent-c52="" class="fa fa-info"></i>
                </button>
            </h4>
            <button type="button" class="close" data-dismiss="modal" (click)=close()>&times;</button>
    
        </div>
    </nb-card-header>

    <nb-card-body style="margin-top: 10px;">
        <form  #receivedOrganization="ngForm" (ngSubmit)="onSubmit()">
               
                <div class="row justify-content-center">
                <div class="col-md-3">
                    <label class="" translate>Client ID</label>
                </div>
                <div class="col-md-6">
                    <input nbInput  id="clientid" type="text" placeholder="" [(ngModel)]="client_id" name="clientid"  required />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 mt-2">
                    <label class="" translate>Client Secret</label>
                </div>
                <div class="col-md-6 mt-2">
                    <input  nbInput  id="authtoken" type="text" placeholder="" [(ngModel)]="client_secret" name="clientsecret" required />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 mt-2">
                    <label class="" translate>URL of the website</label>
                </div>
                <div class="col-md-6 mt-2">
                    <input nbInput  id="id" type="text" placeholder="" [(ngModel)]="website_url" name="zohocrmurl" required />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 mt-2 mb-3">
                    <label class="" translate>Grant Token</label>
                </div>
                <div class="col-md-6 mt-2 mb-3">
                    <input nbInput  id="grandtoken"  placeholder="" [(ngModel)]="grant_token" name="granttoken"  required />                    
                </div>               
            </div>
        </form>
        
        <div class="save-button" style="margin-top: -25px;">
            <button  (click)="zohoApiIntegration()" class='save-btn'>SAVE</button>
        </div>        
    
    </nb-card-body>

</nb-card> 
