
nb-card{     
    width: 508px;  
    height: 365px; 
    background: #FFFFFF;
    border-radius: 17px;
    margin-top:-110px;
}



h4{
    font-size: 18px;
    font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
}

.btn {  
   
   background: #4C4C91;
   color: white;
   font-size: 12px;
   height: 30px;
   width: 30px;
}

label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-left: -50px;
}

.close{
    margin-top: -40px;
}
::ng-deep .close:focus,
::ng-deep .close:active{
    outline: none;
}

nb-card-header{
    border-bottom: 1px  solid #DDDBDB;
}

::ng-deep .custom-tooltip{
    color: white;
    font-size:12px;
    background-color: rgb(105,105,105);
}

::ng-deep input{
    margin-left: -30px;
    height: 30px;
    width: 285px;    
    margin-bottom:15px;

   border: 1.8px solid #DDDBDB !important;
   box-sizing: border-box;
   border-radius: 5px;
}

::ng-deep input:focus{
  border-color: #4C4C91 !important;
}

.save-btn{
    background: linear-gradient(180deg, #523C87 0%, #2CA2C5 100%);
    border-radius: 4px;
    height: 34px;
    width: 57px;
    border: none;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    margin-left: 385px;
}
.save-btn:focus,
.save-btn:active{
    border:none;
    outline: none;
}
.save-btn:hover{ 
    box-shadow: 0 0 6px #44377c;  
}  
.save-btn:active{
  transform: translateY(1.5px);
}

.info-icon1{
    top:34% !important;
    left: 244px;
    transform: translateY(-50%) !important;
    height: 25px !important;
    width: 23px !important;
    padding-left: 6px !important;
    font-size: xx-small;
  }