<mat-card class="amazon-card">
    <mat-card-header>
         Amazon Seller 
    </mat-card-header>
    <mat-card-content>
      <div class="amazon-logo">
        <img mat-card-image class="d-block img-fluid" src="./assets/amazon.png">
      </div>
        <div class="content">
          Integrate with Amazon Seller
        </div>       
      
      <div>
      <button mat-raised-button  class="clickhere-item" style="float: right;">CLICK HERE</button>
      </div>
    </mat-card-content>
  </mat-card>

